/* div.st-cj.st-b4.st-c7.st-b9.st-ck.st-cl.st-cm.st-cn.st-co.st-cp.st-cq.st-cr.st-cs.st-b2.st-ct.st-av.st-ay.st-cu.st-cv.st-ae.st-af.st-ag.st-ah.st-ai.st-aj.st-cw.st-cx.st-cy.st-cz.st-d0.st-d1.st-d2  */
div.st-b4.st-b9.st-bz.st-b2.st-bp.st-ae.st-af.st-ag.st-ah.st-ai.st-aj.st-c0.st-bw.st-bq.st-br {
    line-height: 2em  !important;
    font-size: 6rem !important;
}
input.st-af {
    font-size: 5rem !important;
    text-align: center;
}